extends layout

append head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js')

block content
  #certificate-container
    #pdf-button-container
      button#pdf-button Download PDF
    #certificate 
      #blue-box
      #top-container
        p#top-text In pursuance of the authority vested in it by the County of Greendale and upon the recommendation of the faculty of 
          p#college-text GREENDALE COMMUNITY COLLEGE
          p#trustee-text the Board of Trustees of Greendale Community College confers upon
        p#student-name #{studentName}
        p#course-name Associate in #{courseName}
      #bottom-container
        p#description-text with all the rights and priveleges, immunities and honors thereunto belonging and in testimony thereof it grants this diploma sealed with the seal of the Greendale Community College
        img(id='footer-image', src='/images/footer.png' , alt='signatures')
  script(src='/js/show-certificate.js')
    



